#search input {
	width: 90%;
	font-family: "OpenSansRegular";
}

#content {
	font-family: "OpenSansRegular";
}

#bookmark {
	padding: 0px;
}

#title {
	text-align: left;
	top: 1em;
	bottom: 1em;
}

#created {
	text-align: right;
	font-style: oblique;
	font-size: 0.7em;
	color: #8C8C8C;
}

.line {
	border: 1px dashed #CCCCCC;	
	clear:both;
}

.p {
	color: white;
}